@import "../../colorscheme.less";


:host {
	background-color: @part;
	color: @text;
	position: relative;
	box-shadow: 0;
}

* {
	transition: all 0.5s;
}

:host(.editmode) {
	box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.5);
	margin: 0.5em;
	padding: 1em;
}

h3 {
	margin: 0;
	opacity: 0;
	line-height: 0em;
	&.editmode {
		line-height: 1em;
		opacity: 1;
	}
}

type-circle {
	opacity: 0;
	transition: none;
	z-index: 1000;
	position: absolute;
}

.input, .output {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1em;

	type-circle.editmode {
		opacity: 1;
	}

	&.hide {
		margin: 0;
		opacity: 0;
		line-height: 0em;
	}
}

.input {
	type-circle {
		left: -0.4em;
	}
}

.output {
	text-align: right;

	type-circle {
		right: -0.4em;
	}
}

.topcorner {
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 75%;
	opacity: 0;

	&.editmode {
		opacity: 1;
	}
}

.version {
	display: inline-block;
	text-align: center;
	opacity: 0.2;
}