@import "../../colorscheme.less";

:host {
	background-color: @bg;
	width: 100vw;
	height: 100vh;
	display: block;
}

section.column {
	width: 11em;
	margin: 1em;
	z-index: 5;
}

div.corner {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 1em;
	color: @part;
}

svg.paths {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	line {
		stroke: extract(@accents, 1);
		stroke-width: 2;
	}
}