@import "../../colorscheme.less";

:host {
	background-color: @bg;
	width: 100vw;
	height: 100vh;
	display: block;
}

section.column {
	width: 11em;
	margin: 1em;
}

div.corner {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 1em;
	color: @part;
}